{% load static %}
<!DOCTYPE html>
<html>
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <head>
      <title>South Florida Alerts - Home</title>
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/webpage.css' %}">
   </head>
   <header>
      <div class="topnav">
         <a class="active left" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
         <a href="/changelog" class="left"><i class="fa fa-fw fa-pencil-square-o"></i> Changelog</a>
         <a href="/contact" class="left"><i class="fa fa-fw fa-envelope"></i> Contact</a>
         <a href="/faq" class="left"><i class="fa fa-fw fa-info-circle"></i> FAQ</a>
         <a class="right" href=""><img src="{% static 'favicon.ico' %}" href="/"></img></a>
      </div>
   </header>
   <body>
      <div class="formbody">
         <form action="/" class="decor" method = "POST">
            {% csrf_token %}
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
               <h1>
                  <center>GET ALERTS</center>
               </h1>
               <center><h3>To learn how to get the class seats URL, for privacy concerns or for any other questions, please refer to the <b><a style="text-decoration:none" href = "/faq" target="_blank" rel="noopener noreferrer">FAQ</a></b> page before contacting us</h3></center>
               <input type="url" placeholder="Enter class seats URL" name = "URL" required>
               <input type="email" placeholder="Enter your email" name = "email" required>
               <center>{{ form.captcha }}</center>
               <button class = "button" type="submit" href="/">Submit</button>
               {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <h3 style = "color:red;text-align:center">{{ error }}</h3>
                    {% endfor %}
                    {% elif messages %}
                        {% for message in messages %}
                            <h3 class = "{% if message.tags == 'success' %} message-green {% elif message.tags == 'error' %} message-red {% endif %}" style = "text-align:center">{{message}}</h3>
                        {% endfor %}
                {% endif %}
            </div>
         </form>
      </div>
{% include "Footer.html" %}